@using System.Security.Claims;
@{
    int empId = 0;
    if (User.Identity.IsAuthenticated && User.HasClaim(c => c.Type == "Id"))
    {
        empId = Int32.Parse(User.FindFirstValue("Id"));
    }
}

<html>
<head>
    <title>Employee Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        .fieldName {
            font-weight: bold;
        }

        .sidebar {
            width: fit-content;
            white-space: nowrap;
            /* overflow: hidden;
            text-overflow: ellipsis; */
        }

        /* New styles for flexbox layout */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            display: flex;
        }

        .main-content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .nav-link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-light d-flex justify-content-between" style="background-color:cadetblue">
        <div class="px-4">
            <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Landing">Employee Portal</a>
        </div>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div class="d-flex me-5 align-items-center">
                    @if (User.Identity.Name != null)
                    {
                        <p type="button"
                           id="popover-button"
                           data-bs-toggle="popover"
                           title="Profile"
                           data-bs-content="funccall"
                           data-bs-placement="left">
                            Welcome, @User.Identity.Name
                        </p>
                    }
                    
                    <a class="btn btn-dark ms-2" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            }
        }
    </div>
    <div class="content">
        <div class="p-4 pb-5 border-end sidebar">
            <ul class="navbar-nav d-flex flex-column">
                <li class="nav-item active">
                    <a class="nav-link link-dark" asp-controller="Users" asp-action="Landing">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link link-dark" asp-controller="Client" asp-action="ApplyStandard">Apply for program</a>
                </li>
                <li class="nav-item active">
                    @{
                        if (User.HasClaim(c => c.Type == "Id"))
                        {
                            var userIdString = User.FindFirstValue("Id");
                            var userIdInt = Int32.Parse(userIdString);
                            <a class="nav-link link-dark" asp-controller="Client" asp-action="ViewAppliedPrograms" asp-route-id="@userIdInt">View applied programs</a>

                        }
                     }
                    
                </li>
            </ul>
        </div>
        <div class="ps-3 pt-3 flex-fill main-content">
            @RenderBody()
        </div>
    </div>
    <div class="border-top footer text-muted p-3">
        <div class="container">
            &copy; 2024 - EmployeeApp.PortalWithAuth - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    <script>
        // Initialize Bootstrap tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        var popoverTriggerList = [].slice.call(
            document.querySelectorAll('[data-bs-toggle="popover"]')
        );
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, { html: true });
        });

        const email = '@User.FindFirstValue(ClaimTypes.Email)';
        const apiUrl = `https://localhost:7073/api/UsersService/getUserByMail/${email}`;
        var content = "";
        fetchData();
        async function fetchData() {
            if (content == "") {
                const response = await fetch(apiUrl); // Replace with your API endpoint
                const data = await response.json();
                content = ` <p><span class="fieldName">Name:</span> <br/>${data.name}</p>
                                                                        <p><span class="fieldName"> Date of Joining:</span><br/> ${data.dateOfJoining ? data.dateOfJoining : "N/A"}</p>
                                                                        <p><span class="fieldName">Email:</span> <br>${data.email}</p>
                                                                        <p><span class="fieldName">Phone:</span> <br>${data.phone}</p>
                                                                                <p><span class="fieldName">Address:</span><br/>${data.address.addressLine1},${data.address.state},${data.address.country}</p>
                                                                                <a href="https://localhost:7011/Associate/Edit/@empId" class="btn btn-dark">Edit</a>`;
            }
            document
                .getElementById("popover-button")
                .setAttribute("data-bs-content", content);
            document
                .getElementById("popover-button")
                .setAttribute("customAttribute", "customValue");
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
