
<div>
    <h1>Welcome to Employee Portal, </h1>
        
    

    <p>Are you a new user?Please,<a asp-action="Register" asp-controller="Account">Register here</a></p>
    <p>Are you a registered user?Please,<a asp-action="Login" asp-controller="Account">Login here</a></p>
</div>